<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.csmall.product.mapper.BrandMapper">
    <!-- int insert(Brand brand); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand (name, pinyin, logo, description, keywords, sort, sales, product_count, comment_count, positive_comment_count, enable)
        VALUES (#{name},#{pinyin}, #{logo}, #{description}, #{keywords}, #{sort}, #{sales}, #{productCount}, #{commentCount}, #{positiveCommentCount}, #{enable})
    </insert>

    <!--int insertBatch(List<Brand> brands);-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand( name, pinyin, logo, description, keywords, sort, sales, product_count, comment_count, positive_comment_count, enable) values
        <foreach collection="list" item="brand" separator=",">
            (#{brand.name},#{brand.pinyin}, #{brand.logo}, #{brand.description}, #{brand.keywords}, #{brand.sort}, #{brand.sales}, #{brand.productCount}, #{brand.commentCount}, #{brand.positiveCommentCount}, #{brand.enable})
        </foreach>
    </insert>

    <!--    int deleteById(Integer id);-->
    <delete id="deleteById">
        delete
        from pms_brand
        where id = #{id}
    </delete>

    <!-- int deleteByIds(Long[] ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_brand WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!--int updateById(Brand brand);-->
    <update id="updateById">
        update pms_brand
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="pinyin != null">
                pinyin=#{pinyin},
            </if>
            <if test="logo != null">
                logo=#{logo},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sales != null">
                sales=#{sales},
            </if>
            <if test="productCount != null">
                product_count=#{productCount},
            </if>
            <if test="commentCount != null">
                comment_count=#{commentCount},
            </if>
            <if test="positiveCommentCount != null">
                positive_comment_count=#{positiveCommentCount},
            </if>
            <if test="enable != null">
                enable=#{enable}
            </if>
        </set>
        where id=#{id}
    </update>

    <!--int count();-->
    <select id="count" resultType="int">
        select count(*)
        from pms_brand
    </select>

    <!--BrandStandardVO getStandardById(Long Id);-->
    <select id="getStandardById" resultMap="StandardResultMap">
        select
        <include refid="StandardQueryFields"></include>
        from pms_brand where id=#{id}
    </select>
    
    <sql id="StandardQueryFields">
        id, name, pinyin, logo, description, keywords, sort, sales, product_count, comment_count, positive_comment_count, enable
    </sql>
    
    <resultMap id="StandardResultMap" type="com.tedu.csmall.product.pojo.vo.BrandStandardVO">
        <result property="productCount" column="product_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="positiveCommentCount" column="positive_comment_count"/>
    </resultMap>

    <!--List<BrandListItemVO> list();-->
    <select id="list" resultMap="ListResultMap">
        select <include refid="ListQueryFields"></include>
        from pms_brand
        group by id desc
    </select>

    <sql id="ListQueryFields">
        id, name, pinyin, logo, description, keywords, sort, sales, product_count, comment_count, positive_comment_count, enable
    </sql>

    <resultMap id="ListResultMap" type="com.tedu.csmall.product.pojo.vo.BrandListItemVO">
        <result property="productCount" column="product_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="positiveCommentCount" column="positive_comment_count"/>
    </resultMap>

</mapper>